parameters:
    level: max
    paths:
        - src
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
    ignoreErrors:
        -
            message: '#Trait Foodieneers\\Tag\\Traits\\HasTags is used zero times and is not analysed#'
            path: src/Traits/HasTags.php
